@font-face {
	font-family: GoT;
	src: url('./assets/Game\ of\ Thrones.ttf');
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

.App {
	margin: 0;
	text-align: center;
	font-family: Got;
}

h1 {
	background-color: rgba(245, 245, 245, 0.7);
	/* margin-left: 320px;
	margin-right: 320px; */
	margin: 0 auto;
	font-family: Got;
	font-size: 48px;
	padding-top: 10px;
}

fieldset {
	display: inline-block;
}

input {
	background-color: whitesmoke;
	font-size: 24px;
}

.Main {
	background-image: url('./assets/Got-Poster.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}

.Form {
	overflow: hidden;
}

.Character {
	background-image: url('./assets/ice.jfif');
	background-repeat: no-repeat;
	background-size: cover;
	width: 600px;
	padding: 5px;
	margin: 0 auto;
	margin-top: 20px;
	transition: 4s;
	font-size: 14px;
}

.Name {
	width: 250px;
	text-align: center;
	display: inline-block;
}

.Input {
	text-align: center;
	font-family: GoT;
	font-size: 16px;
	width: 250px;
	height: 28px;
}

input {
	margin-left: 10px;
}

.disabled {
	opacity: .5;
}

.Character:hover {
	transition: 4s;
	opacity: 1;
}

.Button {
	font-family: GoT;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	background-image: url('./assets/ice.jfif');
	background-repeat: no-repeat;
	background-size: cover;
	transition: 1s;
}

#selectedSection {
	background-color: black;
	color: whitesmoke;
	background-image: unset;
}

.CharacterTable {
	border-collapse: collapse;
	margin: 0 auto;
}

.CharacterTable td,
.CharacterTable th {
	border: 1px solid #ddd;
	padding: 8px;
}

.CharacterTable tr:nth-child(even) {
	background-color: #f2f2f2;
}

.CharacterTable tr:nth-child(odd) {
	background-color: #6d6a6a;
}

.CharacterTable tr:hover {
	background-color: black;
	color: whitesmoke;
}

.CharacterTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #686b68;
	color: white;
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 16px;
		margin: 0 auto;
	}

	.Button {
		font-size: 8px;
	}

	.Character {
		font-size: 8px;
		width: 320px;
		margin-top: 10px;
	}

	.Name {
		width: 150px;
	}

	.Input {
		font-size: 8px;
		height: 12px;
		width: 100px;
	}

	.CharacterTable {
		font-size: 8px;
	}

	.Main {
		background-image: url('./assets/Got-Poster.jpeg');
		background-repeat: no-repeat;
		/* background-size: contain; */
		background-position: center;
	}

	body {
		height: 1200px;
	}
}
