@font-face {
  font-family: GoT;
  src: url('./assets/Game\ of\ Thrones.ttf');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.App {
  margin: 0;
  text-align: center;
  font-family: Got;
}

h1 {
  background-color: rgba(245, 245, 245, 0.7);
  margin-left: 320px;
  margin-right: 320px;
  font-family: Got;
  font-size: 48px;
  padding-top: 10px;
}

.Form {
  background-image: url('./assets/Got-Poster.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.Character {
  background-image: url('./assets/ice.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
  transition: 4s;
  opacity: .5;
  font-size: 14px;
}

input {
  margin-left: 10px;
}

.disabled {
  opacity: .5;
}

.Character:hover {
  transition: 4s;
  opacity: 1;
}

.Submit {
  font-family: GoT;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  background-image: url('./assets/ice.jfif');
  background-repeat: no-repeat;
  background-size: cover;
}
