.App {
  text-align: center;
}

.Form {
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/Got-Poster.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

fieldset {
  width: 400px;
  margin: 0 auto;
  background-color: grey;
}
